<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Canteen food ordering</title>
  <meta name="title" content="Canteen food ordering">
  <meta name="description" content="This is a Restaurant html template made by codewithsadee">
  <link rel="shortcut icon" href="favicon.svg" type="image/svg+xml">
  <link rel="shortcut icon" href="separator.svg" type="image/svg+xml">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=82gsj9iU31PITsfqd1Bnj1Ox_QMt_LW26hXajB_KSbuqxatE6GYu2agDXXcise418TZHEgd_eZil8z4jRnnKlW1Q81hAAjD7EwH4GSpp2E0MSeI4_iJ9ip3mSGVlebMvPGSpWLp18RvmwCH5f5TFM7f6JSbrltOZQVzQqemqCnPjMdgONo-tVTzGdZSD_65Xh0FOOFTBbQaCVX3gRyAYTmF54hCQMOiZj8oh9PRGnSMBa6LTxnDXUmbeZe-AgpKYHTUAv3XgG_gU8E7c5-OCmG-XIK0QBvgpu5zHOk-Qc_9pHyD_IUjcbZlLdixL6kKKwLCcKpPX2lOuVTy3YdLAejamM8isUgjdZMrFhN_G4YMdKNNAteHfhKCp-hjgNv1xjbtLH4Iw1Z39EK7GurybgiTMQESG-Uz6TQKKD9DsWYqpmDDbRWER96s5BmSGRhQuxL8QZOHjSzmYAHrBE74WYulChZ-2yv-SnaDdpzjVrxaGBqpBeNz45-Dq4RD8c0yp7QjumM97LzSND-M4tH1Yr9USNIUzxcso-A1ufA9EVNAsLJNB_nnzJYV4_H5N-nY5SILIIw5vzDAigE6yZi3BxrP-2AaYCd2ZRN8JQdFAn-hg4LRbTJVbadVFh5FmIwS1pneyrJFoBuV7g-WuBsLPh0_uUnIAi9xQrRRWeI9cG5CPhRjXim-KDSl0RPLtFgqY4ndYo-SAjFORwmHl1AXYLDf8zY0NMcS2818LPyG33wCAaDur0PrJ8XFqA_LcAfmzg8qDW2mMwcwZcDSPjL5xMcIPbuBLlppK02bnD8aq588fg8OQnolSy_wqKMPbXdzEnNqok2aGl5_lLh4ENfKEiY9QPNxE6ybB-Jz_SAAA0itRevb_gLZU_Oz4SaRUVHOGh5kI8utUL1p685hGkDEWm4m9Nb6vtlBi1EQXbqpuCiU7US0sxtAEtFLm0Z7IyezPE6NFRD7DMOITNfbtwv1Kai_gsqozh2MZuqwqgQxukUkkI_V40NtzYRFMlTU2epcbC4PP2i1Y7NpSCsSAeUO0NnSeKKl3KCpxG1L-iygAYGNo7Hn6yFnUdOtN9LhnhDeLkCOJAhLLH-1r0SG2KGrgq_sfuVfoKwEz0Pr0lsJMbIbJ7v34NeH8M7Dzh4y0ODjUMknPEFaKqhkWjPCIUjCXxjZwiqTfIjFIhlyBU-3WItvcdbwcOdZP1rfgj7PRP16NLfdkGJhA52OEA_b_bT23DncieiaWDh8VDhBTDtCdgVyYPb2tYNJ9BQbG6TbuIaLEwFI9gOX8_8WOEZvwiiCekhqIZ6o0sUpcLdbvHLcBCuVbMyt5jNM78lSgkQPcbeLhuIleJYKp4LkwN97z2oiKLWHYOqC0LEUhxADkxGO0T4LYIZvGE7Kjf7D4pMTk4S3Q1BFOpZ7IR5w4aOt_CxDgwdrY0FRdHoID2eyNt8sL4vA_tkUuGCnCz3N5CrHw7YD8KwMfTEFtQjjDGvkURj9T6NPFwMsqy1b8ECIDGqbsczS2zhpqPCnki3PS9hJ_BZ5o3TNR9bHltq2xGU5qdiE-qCXxd7s-xYzotRxulGoRu2Twh9o8rjvbmGkS7Ro-MHMaEeN5miqmLRNkbNvB4g1QLbfO9--lHfrs5gWvgmmZbSDg5t0-mMV0U4Hq7nMj3qkW" nonce="83d1323f56d0f52d17b796ee44bcab8e" charset="UTF-8"></script></head>

<body id="top">
  <div class="preload" data-preaload>
    <div class="circle"></div>
    <p class="text">Eat-Rep-Eat</p>
  </div>
  <div class="topbar">
    <div class="container">
        <div class="icon">
          <ion-icon name="location-outline" aria-hidden="true"></ion-icon>
        </div>
        <span class="span">
         B.M.S College of Engineering,Bengaluru
        </span>
      <div class="separator"></div>
      <div class="topbar-item item-2">
        <div class="icon">
          <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
        </div>
        <span class="span">Daily : 9.00 am to 6.00 pm</span>
      </div>
    </div>
  </div>
  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="finallogo-removebg-preview.png" width="160" height="50" alt="">
      </a>

      <nav class="navbar" data-navbar>
        <button class="close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>

        <a href="#" class="logo">
          <img src="logo1-removebg-preview.png" width="160" height="50" alt="">
        </a>

        <ul class="navbar-list">
          <li class="navbar-item">
            <a href="#home" class="navbar-link hover-underline active">
              <div class="separator"></div>
              <span class="span">Home</span>
            </a>
          </li>

          <li class="navbar-item">
            <a href="#Specials" class="navbar-link hover-underline">
              <div class="separator"></div>
              <span class="span">Specials</span>
            </a>
          </li>

          <li class="navbar-item">
            <a href="#about" class="navbar-link hover-underline">
              <div class="separator"></div>
              <span class="span">About Us</span>
            </a>
          </li>

          <li class="navbar-item">
            <a href="#Canteens" class="navbar-link hover-underline">
              <div class="separator"></div>
              <span class="span">Orders</span>
            </a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link hover-underline">
              <div class="separator"></div>
              <span class="span">Contact</span>
            </a>
          </li>
        </ul>

        <div class="text-center">
          <p class="headline-1 navbar-title">Visit Us</p>
          <address class="body-4">
            B.M.S College of Engineering <br>
            Basavangudi,Bengaluru
          </address>
          <p class="body-4 navbar-text">Open: 9.00 am - 6:00pm</p>
          <a href="mailto:canteen@bmsce.com" class="body-4 sidebar-link">canteen@bmsce.com</a>
          <div class="separator"></div>
          <p class="contact-label">Orders Request</p>
          <a href="tel:+88123123456" class="body-1 contact-number hover-underline">
            +88-123-123456
          </a>
        </div>
      </nav>

      <a href="login" class="btn btn-secondary">
        <span class="text text-1">LOGIN</span>
        <span class="text text-2" aria-hidden="true">LOGIN</span>
      </a>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </button>
      <div class="overlay" data-nav-toggler data-overlay></div>
    </div>
  </header>

  <main>
    <article>
      <section class="hero text-center" aria-label="home" id="home">
        <ul class="hero-slider" data-hero-slider>
          <li class="slider-item active" data-hero-slider-item>
            <div class="slider-bg">
              <img src="slider1home.jpg" width="1880" height="950" alt="" class="img-cover">
            </div>
            <h1 class="display-1 hero-title slider-reveal">
              For the love of <br>
              delicious food
            </h1>
            <p class="body-2 hero-text slider-reveal">
              Good food is all the sweeter when shared with friends
            </p>
          </li>
          <li class="slider-item" data-hero-slider-item>
            <div class="slider-bg">
              <img src="samosa1.jpg" width="1880" height="950" alt="" class="img-cover">
            </div>
            <h1 class="display-1 hero-title slider-reveal">
              Flavors Inspired by <br>
              the Seasons
            </h1>
            <p class="body-2 hero-text slider-reveal">
              Good food is all the sweeter when shared with friends
            </p>
          </li>

          <li class="slider-item" data-hero-slider-item>
            <div class="slider-bg">
              <img src="cutlet.jpg" width="1880" height="950" alt="" class="img-cover">
            </div>
            <h1 class="display-1 hero-title slider-reveal">
              Take all you can eat,<br>
              But eat all you take
            </h1>
            <p class="body-2 hero-text slider-reveal">
              Good food is all the sweeter when shared with friends
            </p>
          </li>
        </ul>
<!--end of sliders of header-->
        <button class="slider-btn prev" aria-label="slide to previous" data-prev-btn>
          <ion-icon name="chevron-back"></ion-icon>
        </button>
        <button class="slider-btn next" aria-label="slide to next" data-next-btn>
          <ion-icon name="chevron-forward"></ion-icon>
        </button>
      </section>

      <!-- 
        - #SERVICE
      -->
      <section class="section service bg-black-10 text-center" aria-label="Canteen-label" id="Canteens">
        <div class="container">
          <p class="section-subtitle label-2">Flavors For Students</p>
          <h2 class="headline-1 section-title">Our top Canteens</h2>
          <p class="section-text">
            College ka campus, yaadon ka basera tha,<br>classes aur canteen, yaaron ka dera tha!
          </p>
          <ul class="grid-list">
            <li>
              <div class="service-card">

                <a href="#" class="has-before hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="sipsnack.jpg" width="285" height="336" loading="lazy" alt="SIP N SNACK" class="img-cover">
                  </figure>
                </a>

                <div class="card-content">
                  <h3 class="title-4 card-title">
                    <a href="#">SIP N SNACK</a>
                  </h3>
                  <a href="Foodweb" class="btn-text hover-underline label-2">View Menu</a>
                </div>
              </div>
            </li>
            <li>
              <div class="service-card">
                <a href="#" class="has-before hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="vkslider2.jpg" width="285" height="336" loading="lazy" alt="VIDHYARTHI KHANA" class="img-cover">
                  </figure>
                </a>
                <div class="card-content">
                  <h3 class="title-4 card-title">
                    <a href="#">VIDHYARTHI KHANA</a>
                  </h3>
                  <a href="vk" class="btn-text hover-underline label-2">View Menu</a>
                </div>
              </div>
            </li>

            <li>
              <div class="service-card">
                <a href="#" class="has-before hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="lawvkfront.jpg" width="285" height="336" loading="lazy" alt="LAW VK" class="img-cover">
                  </figure>
                </a>

                <div class="card-content">
                  <h3 class="title-4 card-title">
                    <a href="#">LAW VK</a>
                  </h3>
                  <a href="lawvk" class="btn-text hover-underline label-2">View Menu</a>
                </div>
              </div>
            </li>
          </ul>

          <img src="shape-1.png" width="246" height="412" loading="lazy" alt="shape" class="shape shape-1 move-anim">
          <img src="shape-2.png" width="343" height="345" loading="lazy" alt="shape" class="shape shape-2 move-anim">

        </div>
      </section>
      <!-- 
        - #ABOUT
      -->
      <section class="section about text-center" aria-labelledby="about-label" id="about">
        <div class="container">
          <div class="about-content">
            <p class="label-2 section-subtitle" id="about-label">ABOUT US</p>
            <h2 class="headline-1 section-title">GOOD FOOD GOOD MOOD</h2>
            <p class="section-text">
              Welcome to BMSCE,we all are aware of the waiting hours in our canteens..this website is for u to cut down those unnecessary waiting hours and let ur craving be served as quick as possible just by pre-ordering your favourites here and enjoying it around your good ones while not being rushing to ur classes.
            </p>
            <div class="contact-label">SHARE FEEDBACK</div>
            <a href="tel:+804001234567" class="body-1 contact-number hover-underline">+80 (400) 123 4567</a>
            <a href="https://www.bmsce.ac.in/" class="btn btn-primary">
            <span class="text text-1">Read More</span>
            <span class="text text-2" aria-hidden="true">Read More</span>
            </a>
          </div>

          <figure class="about-banner">
            <img src="bmsce.jpeg" width="570" height="570" loading="lazy" alt="about banner" class="w-100" data-parallax-item data-parallax-speed="1">

            <!-- <div class="abs-img abs-img-1 has-before" data-parallax-item data-parallax-speed="1.75">
              <img src="" width="285" height="285" loading="lazy" alt="" class="w-100">
            </div> -->

            <div class="abs-img abs-img-2 has-before">
              <img src="1947.jpg" width="133" height="134" loading="lazy" alt="">
            </div>
          </figure>

          <img src="shape-3.png" width="197" height="194" loading="lazy" alt="" class="shape">
        </div>
      </section>
      <!-- 
        - #MENU
      -->
      <section class="section menu" aria-label="menu-label" id="Specials">
        <div class="container">

          <p class="section-subtitle text-center label-2">Delicious Menu</p>

          <h2 class="headline-1 section-title text-center">Populars</h2>

          <ul class="grid-list">

            <li>
              <div class="menu-card hover:card">

                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="burger1.jpg" width="100" height="100" loading="lazy" alt="Burger">
                </figure>

                <div>

                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="orders.html" class="card-title"> VEG BURGER</a>
                    </h3>
<!-- 
                    <span class="badge label-1"></span> -->

                    <span class="span title-2">₹60.00</span>
                    </div>
                </div>

              </div>
            </li>

            <li>
              <div class="menu-card hover:card">

                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="d7.jpg" width="100" height="100" loading="lazy" alt="Dosa">
                </figure>

                <div>

                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="orders.html" class="card-title">MASALA DOSA</a>
                    </h3>

                    <span class="span title-2">₹40.00</span>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="menu-card hover:card">

                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="oreo1.jpg" width="100" height="100" loading="lazy" alt="oreo1">
                </figure>

                <div>

                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="orders.html" class="card-title">OREA MILKSHAKE</a>
                    </h3>
                    <span class="span title-2">₹50.00</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="menu-card hover:card">

                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="rice1.jpg" width="100" height="100" loading="lazy" alt="Tokusen Wagyu">
                </figure>

                <div>

                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="orders.html" class="card-title">FRIED RICE </a>
                    </h3>

                    <span class="badge label-1">New</span>

                    <span class="span title-2">₹50.00</span>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="menu-card hover:card">

                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="gobi1.jpg" width="100" height="100" loading="lazy" alt="gobi1">
                </figure>
                <div>

                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="orders.html" class="card-title">GOBI</a>
                    </h3>

                    <span class="span title-2">₹60.00</span>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="menu-card hover:card">
                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="rolls2.jpg" width="100" height="100" loading="lazy" alt="Rolls">
                </figure>
                <div>
                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="orders.html" class="card-title">ROLLS</a>
                    </h3>

                    <span class="span title-2">₹70.00</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <p class="menu-text text-center">
           "Food brings people together on many different levels"
          </p>

          <a href="#Canteens" class="btn btn-primary">
            <span class="text text-1">View All Menu</span>

            <span class="text text-2" aria-hidden="true">View All Menu</span>
          </a>

          <img src="shape-5.png" width="921" height="1036" loading="lazy" alt="shape"
            class="shape shape-2 move-anim">
          <img src="shape-6.png" width="343" height="345" loading="lazy" alt="shape"
            class="shape shape-3 move-anim">

        </div>
      </section>
      <!-- 
        - #TESTIMONIALS
      -->

      <section class="section testi text-center has-bg-image"
        style="background-image: url('about.jpg')" aria-label="testimonials">
        <div class="container">

          <div class="quote">”</div>

          <p class="headline-2 testi-text">
           TIME IS MONEY,<br>MONEY IS POWER,<br>POWER IS FOOD & FOOD IS READY<br> LET'S GOOO!!
          </p>

          <div class="wrapper">
            <div class="separator"></div>
            <div class="separator"></div>
            <div class="separator"></div>
          </div>
        </div>
      </section>
  <!-- 
    - #FOOTER
  -->

  <footer class="footer section has-bg-image text-center"
    style="background-image: url()">
    <div class="container">

      <div class="footer-top grid-list">

        <div class="footer-brand has-before has-after">

          

          <address class="body-4">
           B.M.S College of Engineering,Bengaluru
          </address>

          <a href="mailto:booking@grilli.com" class="body-4 contact-link">Canteen@bmsce.com</a>

          <a href="tel:+88123123456" class="body-4 contact-link">Contact : +88-123-123456</a>

          <p class="body-4">
            Open : 09:00 am - 6:00 pm
          </p>
<!-- 
          <div class="wrapper">
            <div class="separator"></div>
            <div class="separator"></div>
            <div class="separator"></div>
          </div> -->

          <p class="title-1">Get News & Offers</p>

          <p class="label-1">
            Subscribe us & Get <span class="span">25% Off.</span>
          </p>

          <form action="" class="input-wrapper">
            <div class="icon-wrapper">
              <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>

              <input type="email" name="email_address" placeholder="info@bmsce.ac.in" autocomplete="off" class="input-field">
            </div>

            <button type="submit" class="btn btn-secondary">
              <span class="text text-1">Subscribe</span>

              <span class="text text-2" aria-hidden="true">Subscribe</span>
            </button>
          </form>

        </div>

        <ul class="footer-list">

          <li>
            <a href="#" class="label-2 footer-link hover-underline">Home</a>
          </li>

          <li>
            <a href="#Specials" class="label-2 footer-link hover-underline">Special Offers</a>
          </li>

          <li>
            <a href="#about" class="label-2 footer-link hover-underline">About Us</a>
          </li>

          <li>
            <a href="#Canteens" class="label-2 footer-link hover-underline">Our Canteens</a>
          </li>

          <li>
            <a href="#contact" class="label-2 footer-link hover-underline">Contact</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <a href="#" class="label-2 footer-link hover-underline">Facebook</a>
          </li>

          <li>
            <a href="#" class="label-2 footer-link hover-underline">Instagram</a>
          </li>

          <li>
            <a href="#" class="label-2 footer-link hover-underline">Twitter</a>
          </li>

          <li>
            <a href="#" class="label-2 footer-link hover-underline">Youtube</a>
          </li>

          <!-- <li>
            <a href="#" class="label-2 footer-link hover-underline">Google Map</a>
          </li> -->

        </ul>

      </div>
    </div>
  </footer>
  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn active" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>
  <!-- 
    - custom js link
  -->
  <script src="script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>