<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Signup Page</title>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=Xf7w7FYO1uH1lt5j5av8kRNsubFjpoMoWuyLrXuu98Vftc0PUE5bBJ355sKhzC6TKEAOfFiZC0ti_RROdFP4IHfeo8tl3cTQn3f6V0sUkDi5-wuXQTTH30LLVlA7V8YsoLneEgmHofwv0Kmb4K3RQ8w3BTnGqOzCrkj_piUVoXOOy2BGAaIRfz1j0IO2w9VYbBPDH7-4I8yutteVQk35K2_KeX-1cdHNzKpyQSXFXhzn9KuxiWzbPf-JtPLvhvvaY3bI1o3DImU4DcW9i8AJv9aoH6lq9SKZ3cPC3TrtPLN12WM5eqvvy2WFqpyVADLOVYhSh3phNdKXwBimi8A3HL8N7K7Fx-EvodsAKoMIY5YdqyzRRMCpgOQBdPr8wBE06fbUZjIpiHns0hUvhea3VCKWrhLkrqUjFDvf5PH2XfCX46YLpnhIGyUpimFL_fcEgmk1O2_OSieakz3maZgEBnFJv-zikhoolZ19fu6dvbGKYaj8_I1LrmexJiRO1ozdQNMhiVFDrnBwYKDYb6c7pAFpZ2tIh-JIr3MpTUb2ivxMRfUI-YkP2FyQXZdBHukaBUcBEFQsOzFaH4Nx2P6bDtDmv9sozKOUe1MznsWauZqVoNyeE3zqQ20e9g5odV02lWjw6tZD6d-dQnSHEyKDOHIg73bYadUebrzBMlvNT4atWG1ifT2gME3TPUzXhI4q-YZIVkR1qetfvhNPp6fYr156HonOOo5S_-KX52SVStmr_IcRdY2U837IybwVuOIvXbgf6x2gOosoPE4tD9WvT8AnFpzEeie7eGdPlQv5YEtZIEsKGBjklMUIBsFuK25ImtM9lFuxq3WYjrGl56s60FSXmsJTFHu5az7t3-bRP_NoeLEIaB5l0iy6sRkOqEpGJx_CTA4uAeBPj7YBQtWwQJazU5Gsbi51Efa5U28CxY-n9PEjxhR-liWdY387XQwNc1Tz2f7RBlCfyaSeiSFk-e3IBVHawTcX_ocITo7sKDjHWj6MMgE7c9lkZUUajdtWoPHTguqb2qGq_OZO8l0xbziG4NvDUZHz-ODL5BF74dOujxaHwAReQRkUSlEKR8JrRTbOiUMx_7Mr5vAnsz54Qm2z2bCO8A_8Zs-BhhIlrdDtsydaZvFV_uK8GY5vKPDCgu8XWATQNnu3-Cb9yuZPByB025kDUbOavFIQLYvIY7W8rBHvpGplCh1jadEGvzf2EfKTz8kfp0_3Yq4Na5LdwRpiKBYk1GH3aPq8t7PGQgA84egqiilnTq7L5moU5R7Eaij8O9WIsum5W0PK3gCJG1psosGU6Tofv4RNzyI4G9P3QxqLmsGV1jSEOLXupI_KSsFWOS3r1TmNrgOjE5kRTzq97YxSijfItiPP9qr8NqP5AK3qkLpYoZVP7Ca904no5Re0Ounls804Q1PAkKsp_YEVpynFye56lpRArE77UH8_Ybgo9LLqnFaQDHxl-hUYVUYS4Q3jDCdcIk-zpNe_RqxxNrTuxE00GqyggMolH3pxb9_4oOcyjyeR9mu4uYbHXkc0Ej6gIb75dc-RCDPdMQmJoQfZKSsEyWkiqwAh8P9eFTceVPYAaZnu2AFYQUvAssHJ5AUuZbk1HeVZj8dxMU2NqitoGwvxJkX3jnX-85tS5qL7Dm2mB4caZYkjwzpJ" nonce="5fd678cbfe166e6212f4d334ff65eb2f" charset="UTF-8"></script></head>
<body background="https://github.com/codewithsadee/grilli/blob/master/assets/images/shape-5.png?raw=true">
    <header>
        <button class="home">
            <a href="index" style="color: aliceblue; text-decoration-line: none;">Home</a></button>
    </header>
    <main>
        <!-- <div class="container"> -->
            <div class="login-table">
                <h2>Sign Up</h2>
                <form action="/signupuser" method="post">
                    
                    <input class="input" type="text" name="name" placeholder="Username" required>
                    <input class="input" type="text" name="email" placeholder="Email" required>
                    <input class="input" type="text" name="contact" placeholder="Contact" required>
                    <input class="input" type="password" name="password" placeholder="Create Password" required>
                    <button class="input" type="submit">SignUp</button>
                </form>
            <!-- </div> -->
        </div>
            <!-- <div class="login-table">
                <h2>Admin Login</h2>
                <form action="index.html">
                     <label for="email" text-align="left">Email:</label>
                    <input type="email" id="email" name="email" required>
                    <label for="password" text-align="left">Password:</label>
                    <input type="password" id="password" name="password" required>
                    <button type="submit">Login</button> -->

                    <!-- <h2>Admin Login</h2> 
                            <input class="input" type="text" placeholder="Username" required>
                            <input class="input" type="text" placeholder="email" required>
                            <input class="input" type="password" placeholder="Password" required>
                            <button class="input" type="submit" >Login</button>
                </form>
            </div> -->
           
        <!-- </div>
         <div class="signup">
                <h2>NEW USER?</h2>
                <p>Sign up for an account</p>
                <button href="#">Sign Up</button>   
        </div> -->
        
    </main> 
  
    <footer>
        <p>Contact Details:</p>
        <p>Email: info@example.com</p>
        <p>Phone: +1234567890</p>
    </footer>
</body>
</html>